<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squalala.hardgamerdz" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
   IMPORTANT: Change "info.androidhive.parsenotifications.permission.C2D_MESSAGE" in the lines below
   to match your app's package name + ".permission.C2D_MESSAGE".
 -->
    <permission
        android:name="com.squalala.hardgamerdz.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.squalala.hardgamerdz.permission.C2D_MESSAGE" />

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:hardwareAccelerated = "true"
        tools:replace="android:icon,android:theme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".App"
        android:theme="@style/AppTheme" >


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6f377b8362270aff08ae0c11138e5ccf688249d1" />

        <!-- Add the following meta-data for devices running Google Play service. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_rect4139" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />

        <service
            android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/MaterialBaseBaseTheme.Light.DarkToolbar"
            android:label="@string/app_name" >

        </activity>


        <activity android:name=".ui.activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:hardwareAccelerated="true"
            android:theme="@style/MaterialBaseBaseTheme.Light.DarkToolbar"
            android:label="@string/website_name"
            android:name=".ui.activity.ShowPostActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />

        </activity>

        <activity
            android:theme="@style/MaterialBaseBaseTheme.Light.DarkToolbar"
            android:name=".ui.activity.ViewPagerActivity"/>


        <activity
            android:theme="@style/MaterialBaseBaseTheme.Light.DarkToolbar"
            android:name=".ui.activity.SettingActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />

        </activity>


        <service android:name=".service.NotificationService"
                 android:label="@string/notification"/>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.squalala.hardgamerdz_ACTION" />
            </intent-filter>
        </receiver>


        <receiver
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:name=".ui.widget.MyWidgetProvider" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".service.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


    </application>

</manifest>
